<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
一个sql语句会执行, 得到数据, 服务层如何到到这个sql执行的结果?

-->
<mapper namespace="com.atguigu.gmallpublisher.mapper.OrderMapper">
    <select id="getTotalAmount" resultType="java.lang.Double">
        select  sum(TOTAL_AMOUNT) SUM  from GMALL_ORDER_INFO1128 where CREATE_DATE=#{date}
    </select>

    <select id="getHourAmount" resultMap="orderAmountList">
        select
            CREATE_HOUR,
            sum(TOTAL_AMOUNT) SUM
        from GMALL_ORDER_INFO1128
        where CREATE_DATE=#{date}
        group by CREATE_HOUR
    </select>
    <resultMap id="orderAmountList" type="java.util.Map" autoMapping="true"></resultMap>

</mapper>